.DS_Store

/app/i2c-tools-extra/
/app/pi-top-4-Miniscreen-App/
/app/pi-top-Device-Manager/
/app/pi-top-Firmware-Updater/
/app/pi-topOS-Web-Portal/
/app/Wi-Fi-Access-Point-and-Station-Mode/
/app/Further-Link/
/bin/pt-firmware-images/
/conf/pi-top-4-Touchscreen/
/conf/pi-top-4-Display-Port/
/conf/pt-os-mods/
/core/pi-topOS-Archive-Keyring/
/core/pi-topOS-Core-Packages/
/gui/pi-topOS-Start-Menu-Quit-Options/
/gui/web-renderer/
/lib/pi-top-Python-SDK/
/serv/pi-topOS-Notify-Services/
/ui/pi-topOS-Icon-Theme/
/ui/pi-topOS-Bootsplash/
/ui/pi-topOS-UI-Modifications/
/upstream/pi-topOS-Upstream-Package-Build/
